<div class="episode-wrapper">
  <h1 class="episode-title">
    <%= @episode.title %>
  </h1>
  <div class="episode-topbar">
    <audio controls="controls">
      <source src="<%= @episode.media_url %>" type="audio/mpeg">
      <source src="<%= @episode.media_url %>" type="audio/mp3">Your browser does not support HTML5 audio.
    </audio>
    <br /><a href="<%= @episode.media_url %>">(download)</a>
  </div>
  <div class="episode-body">
    <%= @episode.body %>
    <br />
    <%= @episode.media_title %><br />
    <%= @episode.media_artist %><br />
    <%= @episode.media_album %><br />
    <%= format_date_human(@episode.publish_date) %><br />

    Duration: <%= format_length(@episode.media_length) %><br />

  </div>

</div>