<div class="podcast-index-wrapper">
<% @index.podcasts.each do |podcast| %>
<div class="podcast-teaser">
  <a href="<%= podcast.url %>"><img src="<%= podcast.art_url('medium') %>" /></a>
  <h2 class="podcast-title"><a href="<%= podcast.url %>"><%= podcast.title %></a></h2>
  <div class="podcast-body"><%= podcast.description %></div>
</div>
<% end %>
</div>
<br /><br /><br />