<!DOCTYPE html>
<html>
<head>
  <title><%= erb :_html_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="https://plus.google.com/107355867909504468216" rel="publisher" />
  <link href="/assets/css/app.css" rel="stylesheet" />
  <script type="text/javascript" src="/assets/bower_components/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/audioplayer.min.js"></script>
  <script type="text/javascript" src="/assets/js/episodes.js"></script>
  <script type="text/javascript" src="/assets/js/analytics.js"></script>
</head>
<body>
  <header>
    <span class="site-name">
      <a href="/">brickcaster: small podcasts from the human edge</a>
    </span>
    <span class="connect">
      <a href="http://twitter.com/brickcaster"><i class="icon-twitter"></i>/brickcaster</a>
      <a href="http://facebook.com/brickcaster"><i class="icon-facebook"></i>/brickcaster</a>
      <a href="https://plus.google.com/107355867909504468216" rel="publisher"><i class="icon-google-plus"></i>/brickcaster</a>
    </span>
  </header>
  <div class="header-art">
    <%= erb :_art %>
    <div class="back-link">
      <%= erb :_back_link %>
    </div>
  </div>
  <div class="page">
    <%= yield %>
  </div>
  <div class="footer-links"><div class="footer-links-inner">
    <%= erb :_footer_links %>
    <div class="twitter-like">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="brickcaster">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div class="fb-like" data-href="<%= request.url %>" data-width="450" data-layout="box_count" data-show-faces="true" data-send="true"></div>
  </div></div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=275866199116127";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
