<!DOCTYPE html>
<html>
<head>
  <%= yield_content :title %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/ico" href="/favicon.ico" />
  <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://plus.google.com/107355867909504468216" rel="publisher" />
  <link href="/assets/css/app.css" rel="stylesheet" />
</head>
<body>
  <header>
    <span class="site-name">
      <a href="http://micahredding.com"><%= Postly::SITE_NAME %><span></span></a>
    </span>
    <span class="connect">
      <a href="http://twitter.com/<%= Postly::USER_TWITTER_HANDLE %>"><i class="fa fa-twitter"></i><span>/<%= Postly::USER_TWITTER_HANDLE %></span></a>
      <a href="http://facebook.com/<%= Postly::USER_FB_HANDLE %>"><i class="fa fa-facebook"></i><span>/<%= Postly::USER_FB_HANDLE %></span></a>
      <a href="https://plus.google.com/+<%= Postly::USER_GPLUS_HANDLE %>" rel="publisher"><i class="fa fa-google-plus"></i><span>/+<%= Postly::USER_GPLUS_HANDLE %></span></a>
    </span>
  </header>
  <div class="page">
    <%= yield %>
    <br />
    Want to comment? <a href="http://twitter.com/?status=<%= encoded_twitter_status(@post_presenter || @stream_presenter) %>">Tweet me!</a>
  </div>
  <div class="footer-links">
    <ul class="footer-links-inner">
      <%= yield_content :footer %>
      <li>
        <a href="http://twitter.com/?status=<%= encoded_twitter_status(@post_presenter || @stream_presenter) %>">
          <i class="fa fa-twitter"></i> Tweet this
        </a>
      </li>
      <li class="fb-like" data-href="<%= request.url %>" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></li>
    </ul>
  </div>
  <script type="text/javascript" src="/assets/bower_components/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/bower_components/fitvids/jquery.fitvids.js"></script>
  <script type="text/javascript" src="/assets/js/audioplayer.min.js"></script>
  <script type="text/javascript" src="/assets/js/posts.js"></script>
  <script type="text/javascript" src="/assets/js/analytics.js"></script>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=275866199116127";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
